.medwing-button {
    border: none;
    cursor: pointer;    
    min-width: 80px;
    padding: 8px 10px;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.2s ease;
    outline: none;
}

@media only screen and (max-width:411px){
    .medwing-button{
        min-width: 60px
    }
}